
section.main .block-container {
    position: absolute;     
    left: 10px;
    min-height: 100vh;
}


.email-box .stTextInput input {
    height: 36px;
    width: 500px;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 6px;

}
.email-label {
   color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    position: absolute;
    top: 105px;
    right: 670px;
    width: 300px;
    padding: auto;  
}


.login-wrapper h2,
.login-wrapper h2 span {
    color: black !important;        
    font-size: 34px !important;   
    font-weight: 900 !important; 
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 0px;     
    left: 30px;      
    width: 300px;
}


.email-box {
    position: absolute;
    padding: auto;
    top: 120px;      
    left: 500px;      
    width: 300px;
}
.password-box {
    position: absolute;
    padding: auto;
    bottom: 120px;   
    left: 40px;      
    width: 300px;
}

.password-label {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: auto;
    position: absolute;
    top: 105px;
    right: 680px;
    width: 300px;
}

.password-box .stTextInput input {
    height: 36px;
    font-size: 14px;
    border-radius: 6px;
}

.stTextInput {
    width: 500px;
    margin-bottom: 12px;
    margin-top: 12px;
    position: absolute;
    top: 100px;
    right: 500px;
}

.stTextInput input {
    width: 100%;
    height: 36px;          
    font-size: 14px;      
    padding: 6px 10px;     
    border-radius: 6px;
    position: absolute;
    
  
}

section.main .block-container {
    position: relative;   
    min-height: 100vh;
}


div.stButton {
    position: absolute;
    top: 100px;            
    right: 45px;             
    width: 260px;
}

div.stButton > button {
    width: 100%;
    height: 40px;
    background-color: #5ae0b1;   
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Hover */
div.stButton > button:hover {
    background-color: #0e7f57;
}


.stApp {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

